# Node.js
node_modules/
app/node_modules/
npm-debug.log
yarn-error.log


# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Compiled source
app/dist/

# Yarn Integrity file
.yarn-integrity

# Vite
.vite/

#tmp executable
tmp

#air file
.air.toml
