.av-input{
    color: white;
    background: #2C2F33;
    box-shadow: inset 5px 7px 8px #1b1b1b, inset -4px -6px 11px #3e4754, inset -1px -1px 9px #424242;
    border-radius: 25px;
    border: none;
    text-align: center;
}