.centered-row{
  display: flex;
  justify-content: center;
}
  
.centered-col{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.space-between-row{
  display: flex;
  justify-content: space-between;
}

.space-around-row{
  display: flex;
  justify-content: space-around;
}

.justify-end-row{
  display: flex;
  justify-content: end;
}

.space-below{
  padding-bottom: 30px;
  @media (max-height: 900px) {
    padding-bottom: 15px;
  }
}

.col-flex{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
  
.row-flex{
width: 100%;
display: flex;
justify-content: space-between;
}

.show-on-mobile{
  display: none;
  @media (max-width: 500px) {
    display: block;
  }
}

.flex-hide-on-mobile{  
  display: flex;
  @media (max-width: 500px) {
    display: none;
  }
}

.full-width{
  width: 100%;
}

.responsive-avsquare-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  //flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px 2% 0px 2%;
  gap: 3rem;
  padding-bottom: 20px;
  height: 88vh;
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    height: 1600px;
  }
}