.graph-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  align-content: space-around;
}

.graph-bar{
  background-color: white;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.bar-value-label{
  color: black;
}

.algorithms-page-selectors-row{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
