.graph-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  align-content: space-around;
}

.graph-bar{
  background-color: white;
  //box-shadow: rgb(0 0 0 / 18%) 6px 7px 1px 1px;
}

.bar-value-label{
  color: black;
}

.algorithms-page-selectors-row{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
