.graph-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  align-content: space-around;
}

.graph-bar {
  background-color: white;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.graph-bar-nav {
  background-color: white;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.bar-value-label {
  color: black;
}

.algorithms-page-selectors-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.graph-grid-responsive-container {
  padding-top: 20px;
  height: 98%;
  width: 100%;
}
@media (max-height: 900px) {
  .graph-grid-responsive-container {
    padding-top: 5px;
  }
}

.graph-grid {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  box-shadow: 9px 9px 20px 0 rgba(19, 19, 19, 0.7), -10px -7px 20px 0 rgba(114, 114, 114, 0.5);
}

.graph-grid-row {
  height: 100%;
  width: 100%;
  display: grid;
}

.graph-grid-square {
  background-color: white;
  border-color: black;
  margin: 1px;
  border-radius: 5%;
  box-shadow: inset -4px -2px 1px rgba(0, 0, 0, 0.5019607843);
}

.top-menu {
  width: 100vw;
  background-color: #131314;
  height: 60px;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-menu-responsive-flexbox {
  display: flex;
  width: 100%;
  padding: 0 min(5%, 20px) 0 min(5%, 20px);
  align-items: center;
}
@media (max-width: 500px) {
  .top-menu-responsive-flexbox {
    justify-content: space-between;
  }
}

.menu-link, .left-menu-link, .top-menu-link {
  color: lightgray;
  cursor: pointer;
  text-decoration: none;
}
.menu-link:hover, .left-menu-link:hover, .top-menu-link:hover {
  color: white;
}

.top-menu-link {
  margin-left: 25px;
}

.left-menu-link {
  margin-top: 25px;
  margin-left: 20px;
}

.mobile-dropdown-nav-menu {
  z-index: 100;
  background: #131314 !important;
  width: 40%;
  height: 0px;
  display: flex;
  justify-content: center;
  position: absolute;
  border-radius: 10px;
  top: 60px;
  visibility: hidden;
  overflow: hidden;
  box-shadow: 5px 5px 8px #000;
}

.mobile-dropdown-nav-menu.active {
  visibility: visible;
  height: auto;
}

.mobile-dropdown-nav-menu-items {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 25px;
}

.mobile-dropdown-open-button {
  background-color: #131314;
  border: 1px solid #383838;
  color: white;
  height: 40px;
  width: 40px;
}
.mobile-dropdown-open-button:active {
  box-shadow: inset 5px 5px 15px #000, inset -5px -5px 15px #272d35;
}

.nav-sorting-bars-animation {
  height: 100%;
}

.nav-animation-container {
  height: 100%;
  width: 100%;
}

.nav-icon-with-animation {
  display: flex;
}

#root {
  min-width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
  background: linear-gradient(90deg, #272A2E, #272A2E);
  font-family: "Jura";
  overflow: hidden;
}

.content {
  flex-grow: 1;
  height: calc(100vh - 60px);
  overflow: auto;
}

.algorithms-page {
  width: 100%;
  height: 100%;
  padding: 20px;
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
}
@media (max-height: 900px) {
  .algorithms-page {
    padding-top: 5px;
  }
}

.home-page {
  width: 100%;
  padding: 20px;
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
}
@media (max-height: 900px) {
  .home-page {
    padding-top: 5px;
  }
}

.responsive-header-selectors-row {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: row;
  padding-top: 5vh;
}
@media (max-width: 600px) {
  .responsive-header-selectors-row {
    flex-direction: column;
  }
}
@media (max-height: 900px) {
  .responsive-header-selectors-row {
    padding-top: 5px;
  }
}

.header-selector-wrapper {
  padding-top: 20px;
}
@media (max-height: 900px) {
  .header-selector-wrapper {
    padding-top: 5px;
  }
}

.start-btn-row {
  padding-top: 8vh;
}
@media (max-height: 1200px) {
  .start-btn-row {
    padding-top: 3vh;
  }
}
@media (max-height: 900px) {
  .start-btn-row {
    padding-top: 5px;
  }
}

.start-btn-col {
  width: clamp(175px, 30%, 30%) !important;
}

.algorithm-viz-wrapper {
  width: 100%;
  height: 100%;
  margin-top: 5%;
}

.array-editor {
  width: 100%;
}

.error-message {
  color: red;
}

.text-disabled {
  color: #5c5c5c;
}

.centered-row {
  display: flex;
  justify-content: center;
}

.centered-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.space-between-row {
  display: flex;
  justify-content: space-between;
}

.space-around-row {
  display: flex;
  justify-content: space-around;
}

.justify-end-row {
  display: flex;
  justify-content: end;
}

.space-below {
  padding-bottom: 30px;
}
@media (max-height: 900px) {
  .space-below {
    padding-bottom: 15px;
  }
}

.col-flex {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.row-flex {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.show-on-mobile {
  display: none;
}
@media (max-width: 500px) {
  .show-on-mobile {
    display: block;
  }
}

.flex-hide-on-mobile {
  display: flex;
}
@media (max-width: 500px) {
  .flex-hide-on-mobile {
    display: none;
  }
}

.full-width {
  width: 100%;
}

.responsive-avsquare-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  padding: 20px 2% 0px 2%;
  gap: 3rem;
  padding-bottom: 20px;
  height: 88vh;
}
@media (max-width: 768px) {
  .responsive-avsquare-grid {
    display: flex;
    flex-direction: column;
    height: 1600px;
  }
}

.av-input {
  color: white;
  background: #2C2F33;
  box-shadow: inset 5px 7px 8px #1b1b1b, inset -4px -6px 11px #3e4754, inset -1px -1px 9px #424242;
  border-radius: 25px;
  border: none;
  text-align: center;
}

.av-input-slider {
  place-self: center;
  border-radius: 100vh;
  width: 100%;
  margin: 0.375rem 0;
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.2196078431), rgba(100, 100, 100, 0.2509803922));
  box-shadow: inset 9px 10px 10px rgba(9, 9, 9, 0.5882352941), inset -3px -3px 7px rgba(77, 77, 77, 0.5882352941);
  -webkit-appearance: none;
  appearance: none;
  outline: none;
}
.av-input-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: linear-gradient(135deg, #fff 30%, rgb(155, 155, 155));
  box-shadow: 9px 10px 10px rgba(9, 9, 9, 0.5882352941), -3px -3px 7px rgba(77, 77, 77, 0.5882352941);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.modal {
  width: clamp(50%, 700px, 90%) !important;
  height: min(50%, 300px);
  margin: auto;
  padding: 0 2rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backdrop {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.neumorphic-btn, .av-dropdown, .av-dropdown-header, .av-square, .secondary-btn, .primary-btn {
  border-radius: 25px;
  border: none;
  background: #2C2F33;
  box-shadow: 5px 5px 8px #000, -5px -3px 11px #353d48, -1px -1px 9px #424242;
  color: white;
  user-select: none;
}
.neumorphic-btn:hover, .av-dropdown:hover, .av-dropdown-header:hover, .av-square:hover, .secondary-btn:hover, .primary-btn:hover {
  color: skyblue;
}
.neumorphic-btn:active, .av-dropdown:active, .av-dropdown-header:active, .av-square:active, .secondary-btn:active, .primary-btn:active {
  box-shadow: 5px 5px 15px #000000, -5px -5px 15px #3B4451, inset 5px 5px 15px #000000, inset -5px -5px 15px #3B4451;
}

.neumorphic-btn.active, .active.av-dropdown, .active.av-dropdown-header, .active.av-square, .active.secondary-btn, .active.primary-btn {
  color: skyblue;
  box-shadow: 5px 5px 15px #000000, -5px -5px 15px #3B4451, inset 5px 5px 15px #000000, inset -5px -5px 15px #3B4451;
}

.primary-btn {
  min-width: 150px;
  min-height: 40px;
}

.av-square {
  border-radius: 25px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.preview-algoViz-wrapper {
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.disabled {
  pointer-events: none;
  cursor: default;
  box-shadow: 5px 5px 8px #000, -5px -3px 11px #353d48, -1px -1px 9px #424242, inset 0 0 0 1000px rgba(13, 12, 12, 0.3803921569);
}
.disabled:hover, .disabled:active {
  color: inherit;
  background-color: inherit;
  box-shadow: none;
  transform: none;
}

.av-dropdown-wrapper {
  position: relative;
  width: clamp(175px, 80%, 80%) !important;
  min-width: 150px;
  min-height: 40px;
}

.av-dropdown-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}
.av-dropdown-header:active {
  box-shadow: 5px 5px 8px #000, -5px -3px 11px #353d48, -1px -1px 9px #424242;
}

.av-dropdown {
  position: absolute;
  top: 140%;
  left: 0;
  width: 100%;
  max-height: 50vh;
  z-index: 1;
  cursor: pointer;
}
.av-dropdown:hover {
  color: white;
}
.av-dropdown:active {
  box-shadow: 5px 5px 8px #000, -5px -3px 11px #353d48, -1px -1px 9px #424242;
  color: white;
}

.av-dropdown-icon {
  transition: transform 0.3s;
  padding-left: 3%;
  transform-origin: 75% 50%;
}

.av-dropdown-icon.open {
  transform: rotate(180deg);
}

.av-dropdown-item {
  padding: 10px;
  cursor: pointer;
  list-style: none;
}
.av-dropdown-item:hover {
  color: skyblue;
}

.av-dropdown-item-selected {
  list-style: none;
}

.pathfinding-logo-square {
  width: 100px; /* Width of the square */
  height: 100px; /* Height of the square */
  background-color: #007bff; /* Background color */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow for a 3D effect */
  color: white; /* Text color */
  transition: transform 0.3s ease, opacity 0.3s ease; /* Smooth animation */
}

.bar {
  width: 33%;
  height: 20px;
}

.bars-container {
  display: flex;
  align-items: baseline;
  height: 20px;
  width: 30px;
  color: #000;
}

.dropdown-label {
  cursor: pointer;
}

/*# sourceMappingURL=main.css.map */
