#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.left-side-menu{
  height: 100%;
  background-color: #111;
  position: fixed;
  width: 15%;
  z-index: 3;
  padding-top: 5%;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
}

.top-menu{
  width: 100%;
  background-color: #111;
  position: fixed;
  height: 5%;
  z-index: 3;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
}

.dropdown-label{
  cursor: pointer;
}

.pathfinding-logo-square{
  width: 100px; /* Width of the square */
  height: 100px; /* Height of the square */
  background-color: #007bff; /* Background color */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow for a 3D effect */
  color: white; /* Text color */
  transition: transform 0.3s ease, opacity 0.3s ease; /* Smooth animation */
}