.neumorphic-btn{
    outline: none;
    border: 4px #090909 solid;
    border-radius: 25px;
    background: linear-gradient(145deg, #171717, #444245);
    box-shadow: inset 2px 2px 0px #7d7c7e, 
    inset -2px -2px 0px #1c1c1c;
    color: wheat;
    user-select: none;

    &:hover{ 
        color: skyblue;
    }
}

.neumorphic-btn{
    outline: none;
    border: 4px #090909 solid;
    border-radius: 25px;
    background: linear-gradient(145deg, #171717, #444245);
    box-shadow: inset 2px 2px 0px #7d7c7e, 
    inset -2px -2px 0px #1c1c1c;
    color: wheat;
    user-select: none
}


.primary-btn{
    @extend .neumorphic-btn;
    min-width: 150px;
    min-height: 30px;
}

.secondary-btn{
    @extend .neumorphic-btn;
}
