.neumorphic-btn{
    outline: none;
    position: relative;
    border: 4px #090909 solid;
    border-radius: 25px;
    background: linear-gradient(145deg, #171717, #444245);
    box-shadow: inset 2px 2px 0 #7d7c7e, inset -2px -2px 0px #1c1c1c;
    color: white;
    user-select: none;
    z-index: 1;
    &:hover{ 
        color: skyblue;
    }

    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 110%;  /* 10% larger width */
        height: 110%; /* 10% larger height */
        transform: translate(-50%, -50%);
        border-radius: inherit;
        background: linear-gradient(145deg, #262626, #606060);
        box-shadow:  7px 14px 22px #141414, -12px -10px 22px #444444;
        z-index: -1;
    }
}


.primary-btn{
    @extend .neumorphic-btn;
    min-width: 150px;
    min-height: 30px;
}

.secondary-btn{
    @extend .neumorphic-btn;
}
