.ag-dropdown {
    width: 200px;
    width: 75%;
    position: relative;
    padding-top: .400rem;
    color: white;
}

.ag-dropdown-header-wrapper{
    display: flex;
}

.ag-dropdown-header {
    @extend .neumorphic-btn;
    width: 90%;
    box-shadow: rgb(0 0 0 / 25%) 1px 1px 4px;
    cursor: pointer;
}

.ag-dropdown-icon {
    transition: transform 0.3s;
    padding-left: 3%;
    transform-origin: 75% 50%; /* Adjust if necessary */
}

.ag-dropdown-icon.open {
    transform: rotate(180deg);
}

.ag-dropdown-menu {
    @extend .neumorphic-btn;
    width: 90%;
    position: absolute;
    z-index: 100;
    overflow: hidden;
    list-style: none;
}

.ag-dropdown-item {
    padding: 10px;
    cursor: pointer;
    list-style: none;
}

.ag-dropdown-item-selected{
    list-style: none;
}
