.av-dropdown-wrapper {
    position: relative;
    width: clamp(175px,80%,80%)!important;
    min-width: 150px;
    min-height: 40px;
  }

.av-dropdown-header{
    @extend .neumorphic-btn;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    &:active{
        box-shadow: 5px 5px 8px #000, -5px -3px 11px #353d48, -1px -1px 9px #424242;
    }
}
.av-dropdown {
    @extend .neumorphic-btn;
    position: absolute;
    top: 140%;
    left: 0;
    width: 100%;
    max-height: 50vh;
    z-index: 1;
    cursor: pointer;
    &:hover{
        color: white;
    }
    &:active{
        box-shadow: 5px 5px 8px #000, -5px -3px 11px #353d48, -1px -1px 9px #424242;
        color: white;
    }
}

.av-dropdown-icon {
    transition: transform 0.3s;
    padding-left: 3%;
    transform-origin: 75% 50%;
}

.av-dropdown-icon.open {
    transform: rotate(180deg);
}

.av-dropdown-item {
    padding: 10px;
    cursor: pointer;
    list-style: none;
    &:hover{
        color: skyblue;
    }
}

.av-dropdown-item-selected{
    list-style: none;
}
